.wrapper-greet {
    height: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 100px;
    padding-left: 65px;
    padding-top: 30px;
}

.text-title {
    font-family: Lato, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.cardContainer{
    margin: 50px 20px;
    justify-content: center;
    align-items: center;
}

.cardContainer:after {
    content: "";
    display: table;
    clear: both;
}


.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border: solid #ccc 1px;
    color: saddlebrown;
    text-align: center;
    font-family: Lato, Helvetica, sans-serif;
    font-weight: bold;
    padding: 3%;
    float: left;
    width: 180px;
    border-radius: 10px;
    margin: 20px;
    height: 170px;
    transition: 0.3s;
}
.card:hover{
    border-color: rgb(249,129,42);
    box-shadow: 0 4px 8px 0 rgba(255, 163, 87, 0.986);

}

.card img{
    width: 130px;
    padding: 0px 20px 0px 20px;
    margin-top: 5px;
    margin-bottom: 30px;
}

.text-hidden {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: bold;
    margin-top: 30px;
    display: none;
}

#message1 {
    margin-top: 0;
    font-size: 1.25rem;
    color: #7a7a7a;
}

#message2 {
    margin-top: 0;
    font-size: 1.5rem;
    color: rgb(0,193,236);
}

#message3 {
    margin-top: 0;
    font-size: 0.75rem;
    color: #7a7a7a;
}