h1 {
    margin: 150px 10px 30px 10px;
    text-align: center;
}

select {
    display: inline;
    margin: 0px 20px;
    background-color: transparent;
    border: 1px solid orange;
    border-radius: 5px;
    height: 30px;
    appearance: none;
}

.amount-supp {
    display: inline !important;
    height: 30px;
    width: 150px !important;
    margin: 0px 20px;
    border: 1px solid orange !important;
}

.form-buy {
    display: block;
    text-align: center;
    margin: 2px; 
}

.btn-add {
    margin: 20px;
    padding: 5px 50px;
    border: 2px solid orange;
    background-color: white;
}

.btn-add:hover {
    opacity: 0.8;
}

.btn-buy:hover {
    opacity: 0.8;
}

.btn-buy {
    position: absolute;
    right: 0;
    margin: 10px 100px;
    padding: 10px 50px;
    border-radius: 10px;
    background-color: darkorange;
    color: white;
}

#review-header {
    margin: 150px 10px 30px 10px;
    text-align: center;
    display: none;
}

#review-list {
    display: none;
    list-style-type: decimal;
}

ul {
    text-align: center;
}

#btn-confirm {
    display: none;
    position: absolute;
    right: 0;
    margin: 10px 90px;
    padding: 10px 50px;
    border-radius: 10px;
    background-color: darkorange;
    color: white;
}